.hero-section {
    background-color: $color-white;
    overflow: hidden;

    &__content {
        position: relative;
        padding-top: 20px;
        z-index: 10;
    }

    &__title {
        color: $color-primary;
        
        //MOBILE
        font-size: 1.8rem; 
        line-height: 1.2;

        // DESKTOP
        @media (min-width: 992px) {
            font-size: 3rem;
        }
    }


    &__subtitle {
        font-size: 1rem;
        max-width: 700px;
        margin-left: auto;
        margin-right: auto;
    }

    &__img-container {
        text-align: center;
        position: relative;
        z-index: 1;
        margin-top: -20px;
        
        img {
            width: 100%;
            height: auto;
            object-fit: cover;
            display: block;
        }

        @media (min-width: 992px) {
            margin-top: -300px;
        }
    }
}


.navbar {
    .nav-link {
        margin: 0 10px;
        font-weight: 500;
        color: $color-primary;
    }
}

                .navbar-nav .nav-link:hover {
                    font-weight: 600;
                }

.btn-nav {
    background-color: $color-accent;
    color: $color-white;
    border: 2px solid $color-accent;
    font-weight: 600;
    transition: all 0.3s ease;

    &:hover {
        background-color: darken($color-accent, 10%);
        border-color: darken($color-accent, 10%);
        color: $color-white;
    }
}

.footer {
    background-color: $color-white;
}